<!-- <div class="container">
  <div class="wrapper">
    <h3 routerLink="/dividers">Dividers</h3>
    <h3 routerLink="/smallest-number">The Smallest Number</h3>
    <h3 routerLink="/todo-list">Todo-list</h3>
    <h3 routerLink="/binary-tree">Binary Tree</h3>
    <h3 routerLink="/single-list">Singly Linked List</h3>
  </div>
  <router-outlet></router-outlet>
</div> -->

<app-todo-list
  (onAdd)="addNewItem($event)"
></app-todo-list>

<app-todo-item
  *ngFor = " let i of items" [item]="i" (onRemove)="removeItem($event)"
></app-todo-item>
