.container {
  max-width: 85%;
  margin: 0 auto;
  padding-top: 3rem;

  h1 {
    text-align: center;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;

    h3 {
      width: 17%;
      background-color: yellow;
      padding: 1rem 1rem;
      margin-right: 3rem;
    }
  }
}
